
@font-face {
    font-family: 'DancingScript';
    font-style: normal;
    font-weight: 400;
    src: url('../font/DancingScript/DancingScript-Regular.ttf');
}


@font-face {
    font-family: 'DancingScript';
    font-style: normal;
    font-weight: 500;
    src: url('../font/DancingScript/DancingScript-Medium.ttf');
}


@font-face {
    font-family: 'DancingScript';
    font-style: normal;
    font-weight: 600;
    src: url('../font/DancingScript/DancingScript-SemiBold.ttf');
}


@font-face {
    font-family: 'DancingScript';
    font-style: normal;
    font-weight: 700;
    src: url('../font/DancingScript/DancingScript-Bold.ttf');
}


.font-DancingScript {
    font-family: 'DancingScript', Arial, Helvetica, sans-serif;
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    src: url('../font/Montserrat/Montserrat-Light.ttf');
}

@font-face {
    font-family: 'Montserrat';
    font-style: italic;
    font-weight: 300;
    src: url('../font/Montserrat/Montserrat-LightItalic.ttf');
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: url('../font/Montserrat/Montserrat-Regular.ttf');
}

@font-face {
    font-family: 'Montserrat';
    font-style: italic;
    font-weight: 400;
    src: url('../font/Montserrat/Montserrat-Italic.ttf');
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    src: url('../font/Montserrat/Montserrat-Medium.ttf');
}

@font-face {
    font-family: 'Montserrat';
    font-style: italic;
    font-weight: 500;
    src: url('../font/Montserrat/Montserrat-MediumItalic.ttf');
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    src: url('../font/Montserrat/Montserrat-SemiBold.ttf');
}

@font-face {
    font-family: 'Montserrat';
    font-style: italic;
    font-weight: 600;
    src: url('../font/Montserrat/Montserrat-SemiBoldItalic.ttf');
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    src: url('../font/Montserrat/Montserrat-Bold.ttf');
}

@font-face {
    font-family: 'Montserrat';
    font-style: italic;
    font-weight: 700;
    src: url('../font/Montserrat/Montserrat-BoldItalic.ttf');
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 800;
    src: url('../font/Montserrat/Montserrat-ExtraBold.ttf');
}

@font-face {
    font-family: 'Montserrat';
    font-style: italic;
    font-weight: 800;
    src: url('../font/Montserrat/Montserrat-ExtraBoldItalic.ttf');
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 900;
    src: url('../font/Montserrat/Montserrat-Black.ttf');
}

@font-face {
    font-family: 'Montserrat';
    font-style: italic;
    font-weight: 900;
    src: url('../font/Montserrat/Montserrat-BlackItalic.ttf');
}

.font-Montserrat {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}